*{
  margin: 4;
  padding: 4;
  box-sizing: border-box;
  font-size: 18px;
  font-family: monospace;
}

.page{
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}


.upload {
  /* orange */
  background-color: #FFA500;
  height: 80px;
}

.img-display {
    border: medium dashed indianred;
    height: 225px;
    width: 227px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.label-block{
  background-color: bisque;
  width: 250px;
}
